/* FONT LAYOUT*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* SONY LOGO GRANDEZZA*/
.sony-logo {
    height: 20px;
}

/* LENTE NAVBAR*/
.search-icon {
    width: 25px;
    height: 25px;
}

/* BACKGROUND HERO*/
.hero {
    position: relative;
}

.hero-img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: 50% center;
    display: block;
}

.hero-content {
    position: absolute;
    left: 0;
    bottom: 30px;
    max-width: 100%;
}

.hero-logo {
    width: 160px;
    margin-bottom: 16px;
}

.hero-title {
    margin-bottom: 12px;
    font-size: 2rem;
}

.hero-text {
    margin-bottom: 16px;
    font-size: 0.85rem;
    line-height: 1.4;
}

/* Colonne games*/

.games-preview {
    margin-top: 20px;
}

.game-card {
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid transparent;
    transition: border 0.2s ease;
}
.game-card:hover{
    border: 2px solid #0070d1;
}

@media (min-width: 768px) {
    .hero-img {
        height: 500px;
    }

    .hero-content {
        bottom: 50px;
        max-width: 100%;
    }

    .hero-logo {
        width: 250px;
    }
}

@media (min-width: 992px) {
    .hero-img {
        height: 650px;
    }

    .hero-content {
        bottom: 70px;
        max-width: 100%;
    }

    .hero-logo {
        width: 300px;
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .hero-text {
        font-size: 0.95rem;
    }
}